# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data 
data/fashion_mnist_train_vectors.csv
data/fashion_mnist_test_vectors.csv

# IDE
.vscode
.idea
src/weights.txt
src/bias.txt
doc/result.csv
*.pyc
paramsb1
paramsb2
paramsW1
paramsW2
prediction.csv
